{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content=""></meta>
        </meta>
    <title>{% block title %} Perl Class {% endblock %}</title>
</head>
<body>
<header>
    <h1>perl class</h1>
    <nav>
        <ul>
            <li><a href="{% url 'my_home' %}"></a></li>
            <li><a href="{% url 'my_donation' %}"></a></li>
            <li><a href="{% url 'my_contact' %}"></a></li>
            <li><a href="{% url 'my_about' %}></a></li>
            </ul>
    </nav>
</header>
<main>
    {% block content %}
        <h1>Am looking for a perl class.</h1>
    {% endblock %}
</main>
<footer>
    <p> &copy Perlclass</p>
</footer>
</body>

</html>